p {
  text-align: justify;
  text-justify: inter-word;
}

.myfooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  border-top-width: 1;
}